@import "normalize.css";
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,400&family=Roboto:wght@100;300;400;500;700;900&display=swap");

//region Fonts

$ff-prim: "DM Serif Display", serif;
$ff-sec: "Poppins", sans-serif;
$ff-ter: "Roboto", sans-serif;
//endregion

//region Colors
$clr-primary-0: #fbfbf6;
$clr-primary-100: #f7fad9;
$clr-primary-200: #eff6b5;
$clr-primary-300: #d9e58a;
$clr-primary-400: #bdcc67;
$clr-primary-500: #98ab3a;
$clr-primary-600: #7f932a;
$clr-primary-700: #687b1d;
$clr-primary-800: #516312;
$clr-primary-900: #41520b;

$clr-secondary-100: #e1d9fa;
$clr-secondary-200: #c3b5f6;
$clr-secondary-300: #9d8ae5;
$clr-secondary-400: #7a67cc;
$clr-secondary-500: #4d3aab;
$clr-secondary-600: #3a2a93;
$clr-secondary-700: #291d7b;
$clr-secondary-800: #1b1263;
$clr-secondary-900: #120b52;

$clr-tertiary-100: #e2f1f2;
$clr-tertiary-200: #c7e2e6;
$clr-tertiary-300: #90adb5;
$clr-tertiary-400: #50646b;
$clr-tertiary-500: #060809;
$clr-tertiary-600: #040607;
$clr-tertiary-700: #030406;
$clr-tertiary-800: #010305;
$clr-tertiary-900: #010204;

$clr-accent-100: #fadbd9;
$clr-accent-200: #f6b5b7;
$clr-accent-300: #e58a96;
$clr-accent-400: #cc677e;
$clr-accent-500: #ab3a5f;
$clr-accent-600: #932a56;
$clr-accent-700: #7b1d4e;
$clr-accent-800: #631244;
$clr-accent-900: #520b3e;

$clr-success-100: #eafcdd;
$clr-success-200: #d1f9bd;
$clr-success-300: #aded98;
$clr-success-400: #89dc79;
$clr-success-500: #59c64f;
$clr-success-600: #39aa39;
$clr-success-700: #278e30;
$clr-success-800: #197227;
$clr-success-900: #0f5f22;
$clr-info-100: #d7f4ff;
$clr-info-200: #afe6ff;
$clr-info-300: #87d3ff;
$clr-info-400: #69c1ff;
$clr-info-500: #38a2ff;
$clr-info-600: #287edb;
$clr-info-700: #1c5eb7;
$clr-info-800: #114293;
$clr-info-900: #0a2e7a;
$clr-warning-100: #fbfdd2;
$clr-warning-200: #f7fca7;
$clr-warning-300: #eef67a;
$clr-warning-400: #e3ed57;
$clr-warning-500: #d3e224;
$clr-warning-600: #b3c21a;
$clr-warning-700: #94a212;
$clr-warning-800: #76830b;
$clr-warning-900: #616c06;
$clr-danger-100: #ffeade;
$clr-danger-200: #ffd1be;
$clr-danger-300: #ffb19e;
$clr-danger-400: #ff9486;
$clr-danger-500: #ff635e;
$clr-danger-600: #db444c;
$clr-danger-700: #b72f42;
$clr-danger-800: #931d38;
$clr-danger-900: #7a1232;
//endregion

//region Breakpoints
$screen-100: 540px;
$screen-200: 620px;
$screen-300: 620px;
$screen-400: 780px;
$screen-500: 920px;
$screen-600: 1024px;
$screen-700: 1240px;
$screen-800: 1440px;
//endregion

//region Base
:root {
	font-family: $ff-sec;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	color: $clr-primary-900;

	background-color: $clr-primary-0;
	scroll-behavior: smooth;
	color-scheme: light dark;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

*,
*:before,
*:after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
	text-decoration: none;

	&:hover {
		text-decoration: underline;
		text-underline-offset: 5px;
	}
}

a,
button {
	&:hover {
		cursor: pointer;
	}
}

#root {
	display: grid;
	min-height: 100vh;
	grid-auto-rows: auto 1fr auto;
}
