@import "normalize.css";
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,400&family=Roboto:wght@100;300;400;500;700;900&display=swap");

//region Fonts

$ff-prim: "DM Serif Display", serif;
$ff-sec: "Poppins", sans-serif;
$ff-ter: "Roboto", sans-serif;
//endregion

//region Colors
$clr-primary-0: #fbfbf6;
$clr-primary-900: #41520b;

//endregion

//region Base
:root {
	font-family: $ff-sec;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	color: $clr-primary-900;

	background-color: $clr-primary-0;
	scroll-behavior: smooth;
	color-scheme: light dark;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

*,
*:before,
*:after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
	text-decoration: none;

	&:hover {
		text-decoration: underline;
		text-underline-offset: 5px;
	}
}

a,
button {
	&:hover {
		cursor: pointer;
	}
}

#root {
	display: grid;
	min-height: 100vh;
	grid-auto-rows: auto 1fr auto;
}
